

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <div class="divlogo" routerLink="./home">  </div>
            <div class="divlinks">
                <a href="">Nosotros</a>
                <a routerLink='./products' routerLinkActive="router-link-active" >Productos</a>
                <a href="">
                    <i class="symbol material-icons"> account_circle</i>
                </a>
            </div>
        </div> 
        <div class="line"></div>
    </body>
</html>

